apiVersion: v1
kind: ConfigMap
metadata:
  name: prometheus-config
  namespace: monitoring
data:
  prometheus.yml: |
    global:
      scrape_interval: 15s
    scrape_configs:
      - job_name: "prometheus"
        static_configs:
          - targets: ["localhost:9090"]
      - job_name: "demo-app1-prod"
        static_configs:
          - targets: ["demo-app-1.demo-app1-prod.svc.cluster.local:8080"]
      - job_name: "demo-app2-prod"
        static_configs:
          - targets: ["demo-app-2.demo-app2-prod.svc.cluster.local:8080"]
